<div class="oledrion">
	<!-- Created by Hervé Thouzard (http://www.herve-thouzard.com/) -->
	<!-- Breadcrumb -->
	<table cellspacing="0" class="breadcrumbT">
	<tr>
		<td class="breadcrumb_01"></td>
	    <td class="breadcrumb_02"><div id="productshoop_breadcrumb"><{$breadcrumb}></div></td>
	    <td class="breadcrumb_03"></td>
	</tr>
	<tr>
	    <td colspan="3" class="red-line"></td>
	</tr>
	</table>
	<!-- /Breadcrumb -->
	
	<div class='center'>
		<{if $mod_pref.advertisement != ''}><div id="oledrion_publicite"><{$mod_pref.advertisement}></div><{/if}>
	
	<{if $manufacturer.manu_email != '' }>
		<h2><img src="<{$smarty.const.OLEDRION_IMAGES_URL}>author_32x32.png" alt="<{$manufacturer.manu_name}> <{$manufacturer.manu_commercialname}>" width="32"  height="32" /> <a href="mailto:<{$manufacturer.manu_email}>"><{$manufacturer.manu_name}> <{$manufacturer.manu_commercialname}></a></h2>
	<{else}>
		<h2><img src="<{$smarty.const.OLEDRION_IMAGES_URL}>author_32x32.png" alt="<{$manufacturer.manu_name}> <{$manufacturer.manu_commercialname}>" width="32"  height="32" /> <{$manufacturer.manu_name}> <{$manufacturer.manu_commercialname}></h2>
	<{/if}>
	
	<{if $manufacturer.manu_url != '' }>
		<div class="oledrion_authorurl">
			<img src="<{$smarty.const.OLEDRION_IMAGES_URL}>url.png" alt="<{$manufacturer.manu_url}>" width="16"  height="16" /> <{$smarty.const._OLEDRION_SITEURL}> : <a href="<{$manufacturer.manu_url}>" title="<{$manufacturer.manu_url}>" target="_blank"><{$manufacturer.manu_url}></a>
		</div>
	<{/if}>
	</div>
	
	<div class="oledrion_authorbio">
	<table width="100%" cellspacing="0">
	  <tr>
	    <td class="page-curl_01">
		<h3><{$smarty.const._OLEDRION_MANUFACTURER_INF}></h3>
		<{$manufacturer.manu_bio}>
	<div class="oledrion_authorphotos">
		<{if $manufacturer.manu_photo1 != '' }><div class="oledrion_authorphotos_img"><img src="<{$manufacturer.manu_photo1_url}>" alt="" /></div><{/if}>
		<{if $manufacturer.manu_photo2 != '' }><div class="oledrion_authorphotos_img"><img src="<{$manufacturer.manu_photo2_url}>" alt="" /></div><{/if}>
		<{if $manufacturer.manu_photo3 != '' }><div class="oledrion_authorphotos_img"><img src="<{$manufacturer.manu_photo3_url}>" alt="" /></div><{/if}>
		<{if $manufacturer.manu_photo4 != '' }><div class="oledrion_authorphotos_img"><img src="<{$manufacturer.manu_photo4_url}>" alt="" /></div><{/if}>
		<{if $manufacturer.manu_photo5 != '' }><div class="oledrion_authorphotos_img"><img src="<{$manufacturer.manu_photo5_url}>" alt="" /></div><{/if}>
	</div>
		</td>
	  </tr>
	</table>
	</div>
	
	<{if count($products) > 0}>
		<div id="oledrion_related">
			<h3><img src="<{$smarty.const.OLEDRION_IMAGES_URL}>icon-product-person.png" alt="<{$smarty.const._MI_PRODUCTSBYTHISMANUFACTURER}>" /><{$smarty.const._MI_PRODUCTSBYTHISMANUFACTURER}></h3>
			<table border='0' cellspacing='5' cellpadding='0' class='center oledrion_categorylist'>
			<tr>
			<{foreach item=oneitem from=$products}>
				<td class="center top">
					<{if $oneitem.product_thumb_url}>
					<div class="oledrion_productthumb"><a href="<{$oneitem.product_url_rewrited}>" title="<{$oneitem.product_href_title}>"><img src="<{$oneitem.product_thumb_full_url}>" alt="<{$oneitem.product_href_title}>" /></a></div><{/if}>
					<div><{$oneitem.product_recommended_picture}><b><{$oneitem.product_title}></b> <{if $mod_pref.use_price}><div class="oledrion_productprice"><{if $oneitem.product_stock > 0 }><{$smarty.const._OLEDRION_PRICE}> : <a href="<{$smarty.const.OLEDRION_URL}>caddy.php?op=addproduct&product_id=<{$oneitem.product_id}>" title="<{$smarty.const._OLEDRION_ADD_TO_CART}>"><{if $oneitem.product_discount_price_ttc != ''}><{$oneitem.product_discount_price_ttc}><{else}><{$oneitem.product_price_ttc}><{/if}> <img src="<{$smarty.const.OLEDRION_IMAGES_URL}>cartadd.gif" alt="" /></a><{else}><{$mod_pref.nostock_msg}><{/if}></div><{/if}></div>
		    	</td>
		   		<{if $oneitem.count is div by 4}>
			    	</tr><tr>
		    	<{/if}>
			<{/foreach}>
			</tr>
			</table>
			<{if $pagenav != ''}>
				<div class="center pagenav"><{$pagenav}></div>
			<{/if}>	
		</div>
	<{/if}>
</div>