<div class="oledrion">
	<!-- Created by Hervé Thouzard (http://www.herve-thouzard.com/) -->
	<!-- Breadcrumb -->
	<table cellspacing="0" class="breadcrumbT">
	<tr>
		<td class="breadcrumb_01"></td>
	    <td class="breadcrumb_02"><div id="productshoop_breadcrumb"><{$breadcrumb}></div></td>
	    <td class="breadcrumb_03"></td>
	</tr>
	<tr>
	    <td colspan="3" class="red-line"></td>
	</tr>
	</table>
	<!-- /Breadcrumb -->
	<div class='center'>
		<{if $mod_pref.advertisement != ''}><div id="oledrion_publicite"><{$mod_pref.advertisement}></div><{/if}>
	
	<h2><img src="<{$smarty.const.OLEDRION_IMAGES_URL}>folder_orange_open.png" alt="<{$smarty.const._MI_OLEDRION_SMNAME4}>" width="32" height ="32" /><{$smarty.const._MI_OLEDRION_SMNAME4}></h2>
	</div>
	
	<table width="100%" cellspacing="0">
	  <tr>
	    <td class="page-curl_01">
	<div class="oledrion_cat-map">	
	<ul>
	<{foreach item=category from=$categories}>
		<li><a href="<{$category.cat_url_rewrited}>" title="<{$category.cat_href_title}>"><{$category.cat_title}></a></li>
	<{/foreach}>
	</ul>
	</div>
		</td>
	  </tr>
	</table>
	<!--********* NOTIFICATION ***-->
	<{include file='db:system_notification_select.html'}>
	<!--******** /NOTIFICATION ***-->
</div>