<div class="oledrion">
	<!-- Created by Hervé Thouzard (http://www.herve-thouzard.com/) -->
	<!-- Breadcrumb -->
	<table cellspacing="0" class="breadcrumbT">
	<tr>
		<td class="breadcrumb_01"></td>
	    <td class="breadcrumb_02"><div id="productshoop_breadcrumb"><{$breadcrumb}></div></td>
	    <td class="breadcrumb_03"></td>
	</tr>
	<tr>
	    <td colspan="3" class="red-line"></td>
	</tr>
	</table>
	<!-- /Breadcrumb -->
	<{if $global_advert != ''}>
		<div class='global_advert center'><{$global_advert}></div>
	<{/if}>
   <div class="pad2">
	<{if $success }>
		<h3><{$smarty.const._OLEDRION_THANK_YOU}></h3>
		<h4><{$smarty.const._OLEDRION_TRANSACTION_FINSIHED}></h4>
	<{else}>
		<h3><{$smarty.const._OLEDRION_GATEWAY_FAILED}></h3>
	<{/if}>
	</div>
	<div class="pad2"><a href="<{$smarty.const.OLEDRION_URL}>"><{$smarty.const._OLEDRION_CONTINUE_SHOPPING}></a></div>
</div>