<div class="oledrion">
	<!-- Created by Hervé Thouzard (http://www.herve-thouzard.com/) -->
	<!-- Breadcrumb -->
	<table cellspacing="0" class="breadcrumbT">
	<tr>
		<td class="breadcrumb_01"></td>
	    <td class="breadcrumb_02"><div id="productshoop_breadcrumb"><{$breadcrumb}></div></td>
	    <td class="breadcrumb_03"></td>
	</tr>
	<tr>
	    <td colspan="3" class="red-line"></td>
	</tr>
	</table>
	<!-- /Breadcrumb -->
	<{if $global_advert != ''}>
		<div class='global_advert center'><{$global_advert}></div>
	<{/if}>
	<{if $search_results}>
		<h2><{$smarty.const._OLEDRION_SEARCHRESULTS}></h2>
      <div class="pad2">
		<{foreach item=product from=$products}>
			<div class="bold"><img src='<{$smarty.const.OLEDRION_IMAGES_URL}>product.png' alt="<{$product.href_title}>" />&nbsp;<a href="<{$product.link}>" title="<{$product.href_title}>"><{$product.title}></a></div>
		<{/foreach}>
		<{if $pagenav !=''}><div class="center pagenav"><{$pagenav}></div><{/if}>
      </div>
	<{/if}>
	<{$search_form}>
</div>