<div class="oledrion">
	<!-- Created by Hervé Thouzard (http://www.herve-thouzard.com/) -->
	<div class="breadcrumb"><{$breadcrumb}></div>
	<{if $global_advert != ''}>
		<div class='global_advert center'><{$global_advert}></div>
	<{/if}>
	
	<div id="oledrion-logo">
		<span id="oledrion-main-logo"><img src="<{$smarty.const.OLEDRION_IMAGES_URL}>oledrion.png" alt="oledrion"  /></span>
	</div>
	<h3><{$smarty.const._OLEDRION_ORDER_CANCEL}></h3>
	<div class="shopurl"><a href="<{$smarty.const.OLEDRION_URL}>"><{$smarty.const._OLEDRION_CONTINUE_SHOPPING}></a></div>
</div>