<div class="oledrion">
	<!-- Created by Hervé Thouzard (http://www.herve-thouzard.com/) -->
	<div class="breadcrumb"><{$breadcrumb}></div>
	<{if $global_advert != ''}>
		<div class='global_advert center'><{$global_advert}></div>
	<{/if}>
	<{if $search_results}>
		<h2><{$smarty.const._OLEDRION_SEARCHRESULTS}></h2>
      <div class="pad2">
		<{foreach item=product from=$products}>
			<div class="bold"><img src='<{$smarty.const.OLEDRION_IMAGES_URL}>product.png' alt="<{$product.href_title}>" />&nbsp;<a href="<{$product.link}>" title="<{$product.href_title}>"><{$product.title}></a></div>
		<{/foreach}>
		<{if $pagenav !=''}><div style="text-class: right; margin: 10px;"><{$pagenav}></div><{/if}>
      </div>
	<{/if}>
	<{$search_form}>
</div>